<div class="navtab-container">
<nav mat-tab-nav-bar>

  <span class="toolbar-flex"></span>
  <a mat-tab-link
   
  routerLink="/"   routerLinkActive #home="routerLinkActive" 
 
  >
  Home
 </a>
   
 
    <a mat-tab-link
   
    routerLink="/offers"   routerLinkActive #offers="routerLinkActive"
    [active]="offers.isActive"
    >
    offers
 </a>

 <a mat-tab-link
   
 routerLink="/accomodation"   routerLinkActive #accomodation="routerLinkActive"
 [active]="accomodation.isActive"
 >
 accomodation
</a>
  
   

  <span class="toolbar-flex"></span>
</nav>
</div>