.container{
    background: url("/assets/images/home_beach.jpg") no-repeat;
    background-size: 100%;
    height:600vh;
}

.book-now-container{
    padding: 35px 115px;
}

.book-now-button{
    width:170px;
    color:#fff;
    border:solid 1px #fff;
    text-transform: uppercase;

}